@import url(https://fonts.googleapis.com/css?family=Lato:400&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Bold.woff2") format("woff2"), url("../fonts/Spartan-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Medium.woff2") format("woff2"), url("../fonts/Spartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Light.woff2") format("woff2"), url("../fonts/Spartan-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-Regular.woff2") format("woff2"), url("../fonts/Spartan-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Spartan;
  font-display: swap;
  src: url("../fonts/Spartan-SemiBold.woff2") format("woff2"), url("../fonts/Spartan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Spartan";
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Spartan";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #263238;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

body a {
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

body a:hover {
  color: #386d38;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container-big] {
  max-width: 101.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.container {
  max-width: 1417px;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.btn {
  display: inline-block;
  min-width: 142px;
  color: #fff;
  border-radius: 10px;
  padding: 20px 5px 20px;
  background-color: #263238;
  font-family: "Spartan";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #fff;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  cursor: pointer;
}

.btn__green {
  background-color: #23b123;
  border: 1px solid #23b123;
}

.btn__lato {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.btn:hover {
  border: 1px solid #386d38;
  background-color: #386d38;
  color: #fff;
}

.title {
  font-family: "Spartan";
  font-weight: 700;
  line-height: 111.4285714286%;
  color: #ffffff;
}

.title span {
  color: rgb(35, 177, 35);
}

.title__64p {
  line-height: 112.5%;
}

.title__56p {
  font-size: 56px;
  line-height: 112.5%;
}

.text p {
  font-family: "Spartan";
  font-weight: 400;
  line-height: 177%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  border-radius: 10px;
  background-color: #fff;
}

.form__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-right: 10px;
  padding-left: 25px;
  font-family: "Spartan";
  font-weight: 500;
  font-size: 18px;
  line-height: 111.1111111111%;
  color: #263238;
}

.form__input::-webkit-input-placeholder {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 18px;
  line-height: 111.1111111111%;
  color: #263238;
  opacity: 1;
}

.form__input::-moz-placeholder {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 18px;
  line-height: 111.1111111111%;
  color: #263238;
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 18px;
  line-height: 111.1111111111%;
  color: #263238;
  opacity: 1;
}

.form__input::-ms-input-placeholder {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 18px;
  line-height: 111.1111111111%;
  color: #263238;
  opacity: 1;
}

.form__input,
.form__input::placeholder {
  font-family: "Spartan";
  font-weight: 400;
  font-size: 18px;
  line-height: 111.1111111111%;
  color: #263238;
  opacity: 1;
}

.picture-card__circle {
  position: absolute;
  width: 585px;
  height: 585px;
  pointer-events: none;
}

.picture-card__circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.card-01__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-01__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 47%;
          flex: 0 0 47%;
  padding-right: 20px;
}

.card-01__title {
  text-align: start;
  margin-bottom: 32px;
}

.card-01__text {
  margin-bottom: 48px;
}

.card-01__title,
.card-01__text {
  max-width: 574px;
}

.card-01 .list-card01 ul > :not(:last-child) {
  margin-bottom: 48px;
}

.card-01 .list-card01_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-01 .list-card01__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-01 .list-card01__img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0.1);
  border-radius: 50%;
}

.card-01 .list-card01__img img {
  max-width: 56px;
  max-height: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-01 .list-card01__info {
  max-width: 348px;
}

.card-01 .list-card01__info :not(:last-child) {
  margin-bottom: 16px;
}

.card-01 .list-card01__title h3 {
  font-weight: 700;
  line-height: 110%;
}

.card-01 .list-card01__text p {
  line-height: 180%;
}

.card-01 .picture-card01 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 11.7% 3%;
  overflow: hidden;
}

.card-01 .picture-card01__img {
  position: relative;
  z-index: 1;
  padding-bottom: 91%;
}

.card-01 .picture-card01__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.card-01 .circle_1 {
  top: -12%;
  right: -37%;
}

.card-01 .circle_2 {
  top: -4%;
  right: -37%;
}

.card-02__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.card-02__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 600px;
          flex: 0 0 600px;
}

.card-02__title {
  margin-bottom: 32px;
}

.card-02__text {
  margin-bottom: 44px;
  max-width: 563px;
}

.card-02__text p {
  line-height: 177%;
}

.card-02 .picture-card02 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 7% 3%;
  overflow: hidden;
}

.card-02 .picture-card02__img {
  position: relative;
  z-index: 1;
  padding-bottom: 93%;
}

.card-02 .picture-card02__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.card-02 .circle_1 {
  bottom: -5%;
  left: -35%;
}

.card-02 .circle_2 {
  bottom: -15%;
  left: -34%;
}

.card-02 .spollers__item {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 27px 57px 21px 31px;
  border-radius: 10px;
  margin-bottom: 27px;
}

.card-02 .spollers__title {
  position: relative;
  background-color: initial;
  text-align: start;
  width: 100%;
  font-size: 24px;
  line-height: 177%;
}

.card-02 .spollers__title::before {
  content: "";
  position: absolute;
  top: 10px;
  right: -27px;
  width: 24px;
  height: 24px;
  background-image: url(../img/icons/arrow-down.svg);
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.card-02 .spollers ._spoller-active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-02 .spollers__body {
  padding-top: 20px;
  padding-bottom: 15px;
}

.card-03__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-03__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 563px;
          flex: 0 0 563px;
}

.card-03__title {
  margin-bottom: 32px;
}

.card-03__text {
  margin-bottom: 48px;
}

.card-03__nav ol {
  list-style: none;
}

.card-03__list_item {
  counter-increment: my-awesome-counter;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 48px;
}

.card-03__list_item::before {
  content: counter(my-awesome-counter);
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50%;
}

.card-03__list_item p {
  font-weight: 500;
  line-height: 110%;
}

.card-03__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-03__img {
  position: relative;
  padding-bottom: 119.4117647059%;
}

.card-03__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.card-03 .btn {
  min-width: 222px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header .menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(100px, 300px) auto minmax(150px, 300px);
  grid-template-columns: minmax(100px, 300px) auto minmax(150px, 300px);
}

.header .menu__logo {
  max-width: 146px;
  z-index: 10;
}

.header .menu__logo img {
  width: 100%;
}

.header .menu__body {
  z-index: 10;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu-open .header .menu__body {
  left: 0;
}

.header .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.header .menu__item {
  font-family: "Lato";
  line-height: 122.2222222222%;
  color: #ffffff;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.header .menu__item:hover {
  color: #386d38;
}

.header .menu__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

.header._header-scroll {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header._header-scroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 50, 56, 0.95);
}

.menu .icon-menu {
  display: none;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.42);
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 352px;
          flex: 0 1 352px;
}

.footer__form {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 533px;
          flex: 0 1 533px;
  padding: 0 15px;
}

.footer__form .btn {
  min-width: 145px;
}

.footer__contact {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 374px;
          flex: 0 1 374px;
}

.footer__logo {
  max-width: 143px;
  margin-bottom: 24px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__text {
  margin-bottom: 24px;
}

.footer .contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .contact-footer__cocial-block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 15px;
}

.footer .contact-footer__title {
  margin-bottom: 24px;
}

.footer .contact-footer__title h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
}

.footer .contact-footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.footer .contact-footer__icons > div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
}

.footer .contact-footer__icons > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
}

.footer .contact-footer__icons > div:hover::before {
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.footer .contact-footer__icons img {
  position: relative;
  z-index: 1;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.footer__author {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 20px;
}

.footer__author p {
  font-weight: 300;
  font-size: 12px;
  line-height: 1.0833333333;
}

.footer__privacy-block * {
  font-size: 14px;
  line-height: 1.1428571429;
}

.footer .footer-privacy ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.first__container-big {
  position: relative;
}

.first__title {
  position: relative;
  max-width: 923px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.first__text {
  position: relative;
  max-width: 725px;
  margin: 0 auto 48px;
  text-align: center;
  z-index: 1;
}

.first__form {
  position: relative;
  max-width: 533px;
  margin: 0 auto;
  z-index: 1;
}

.first__form .form__btn {
  min-width: 163px;
}

.first__circle {
  position: absolute;
  width: 585px;
  height: 585px;
}

.first__circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
}

.first__circle.circle-1 {
  top: -458px;
  left: -305px;
}

.first__circle.circle-2 {
  top: -512px;
  left: -251px;
}

.first__bg_icon {
  position: absolute;
  pointer-events: none;
}

.first .bg-icon_1 {
  top: 83.0443159923%;
  left: 0.9259259259%;
}

.first .bg-icon_2 {
  top: 24.6628131021%;
  left: 15.3703703704%;
}

.first .bg-icon_3 {
  top: 97.4951830443%;
  left: 25.6172839506%;
}

.first .bg-icon_4 {
  top: -23%;
  left: 70.7407407407%;
}

.first .bg-icon_5 {
  top: 32.3699421965%;
  left: 81.049382716%;
}

.first .bg-icon_6 {
  top: 101.1560693642%;
  left: 80.8024691358%;
}

.first .bg-icon_7 {
  top: 22.3506743738%;
  right: 1%;
}

.partners__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.partners__img {
  max-width: 260px;
}

.customers__title {
  margin-bottom: 32px;
}

.customers__text {
  max-width: 563px;
  margin: 0 auto 48px;
}

.customers__title,
.customers__text {
  text-align: center;
}

.customers .cards-customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -24px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 48px;
}

.customers .cards-customers li:not(:last-child) {
  margin-bottom: 48px;
}

.customers .cards-customers > li {
  padding: 0 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.customers .cards-customers__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  max-width: 686px;
  background-color: rgba(255, 255, 255, 0.05);
}

.customers .cards-customers__img {
  position: relative;
  padding-bottom: 55%;
  width: 149%;
  max-width: 320px;
}

.customers .cards-customers__img img {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.customers .cards-customers__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.customers .cards-customers__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-bottom: 20px;
}

.customers__action {
  text-align: center;
}

.customers__action .btn {
  min-width: 221px;
}

.customers .block__more {
  width: 100%;
  cursor: auto;
}

.app__body {
  position: relative;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
}

.app__title {
  position: relative;
  text-align: center;
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 48px;
  z-index: 1;
}

.app .icons-app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  gap: 24px;
}

.app .icons-app__img {
  max-width: 168px;
}

.app .icons-app__img a {
  display: inline-block;
  -webkit-transition: 0.4s ease;
  -o-transition: 0.4s ease;
  transition: 0.4s ease;
  border-radius: 20px;
}

.app .icons-app__img a:hover {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.app .picture-card__circle {
  position: absolute;
  top: 0;
  left: 50%;
}

.app .picture-card__circle::before {
  border: 1px solid rgba(255, 255, 255, 0.37);
}

.app .circle_1::before {
  -webkit-transform: translate(-50%, -19%);
      -ms-transform: translate(-50%, -19%);
          transform: translate(-50%, -19%);
}

.app .circle_2::before {
  -webkit-transform: translate(-50%, -6%);
      -ms-transform: translate(-50%, -6%);
          transform: translate(-50%, -6%);
}

@media (min-width: 103.125em) {
  .title {
    font-size: 4.375rem;
  }

  .title__64p {
    font-size: 4rem;
  }

  .title__56p {
    font-size: 3.5rem;
  }

  .text p {
    font-size: 1.125rem;
  }

  .card-01 {
    padding-top: 8.125rem;
  }

  .card-01 {
    padding-bottom: 6.5rem;
  }

  .card-01 .list-card01__img {
    margin-right: 2rem;
  }

  .card-01 .list-card01__title h3 {
    font-size: 1.25rem;
  }

  .card-02 {
    padding-top: 6.25rem;
  }

  .card-02 {
    padding-bottom: 6.25rem;
  }

  .card-03 {
    padding-top: 6.25rem;
  }

  .card-03 {
    padding-bottom: 6.25rem;
  }

  .card-03__list_item::before {
    margin-right: 3.25rem;
  }

  .card-03__list_item p {
    font-size: 1.25rem;
  }

  .header {
    padding-top: 3.3125rem;
  }

  .header {
    padding-bottom: 3.3125rem;
  }

  .header .menu__list {
    gap: 2.75rem;
  }

  .footer {
    padding-top: 4.25rem;
  }

  .footer {
    padding-bottom: 3.5rem;
  }

  .footer__top {
    padding-bottom: 6.25rem;
  }

  .footer__bottom {
    padding-top: 3.5rem;
  }

  .footer .footer-privacy ul {
    gap: 2.5rem;
  }

  .first {
    padding-top: 15.3125rem;
  }

  .first {
    padding-bottom: 9.0625rem;
  }

  .first__title {
    margin-bottom: 4.3125rem;
  }

  .partners {
    padding-top: 4.0625rem;
  }

  .partners {
    padding-bottom: 4.0625rem;
  }

  .customers {
    padding-top: 6.25rem;
  }

  .customers {
    padding-bottom: 6.25rem;
  }

  .customers .cards-customers__info {
    padding-top: 2rem;
  }

  .customers .cards-customers__info {
    padding-bottom: 2rem;
  }

  .customers .cards-customers__info {
    padding-left: 2rem;
  }

  .customers .cards-customers__info {
    padding-right: 2rem;
  }

  .app {
    padding-top: 6.25rem;
  }

  .app {
    padding-bottom: 12.5rem;
  }

  .app__body {
    padding-top: 4.5rem;
  }

  .app__body {
    padding-bottom: 4.125rem;
  }

  .app .picture-card__circle {
    width: 36.5625rem;
  }

  .app .picture-card__circle {
    height: 36.5625rem;
  }
}

@media (min-width: 120em) {
  .card-02__info {
    margin-left: 7.875rem;
  }

  .card-03__info {
    margin-right: 11.0625rem;
  }
}

@media (max-width: 1280px) {
  .card-02 .picture-card__circle {
    width: 385px;
    height: 385px;
  }
}

@media (max-width: 1200px) {
  .footer__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 318px;
            flex: 0 1 318px;
  }

  .footer__form {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 446px;
            flex: 0 1 446px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer__contact {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }

  .footer .contact-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer .contact-footer__cocial-block {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 1100px) {
  .partners__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1080px) {
  .header .menu__actions .btn {
    min-width: 100px;
    padding: 10px 5px 10px;
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .card-01 .list-card01__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
    height: 50px;
  }

  .card-01 .list-card01__img img {
    max-width: 26px;
    max-height: 26px;
  }

  .app .picture-card__circle::before {
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2.1875rem;
  }

  .title__64p {
    font-size: 1.875rem;
  }

  .title__56p {
    font-size: 1.75rem;
  }

  .text p {
    font-size: 0.875rem;
  }

  .card-01 {
    padding-top: 4.0625rem;
  }

  .card-01 {
    padding-bottom: 4.0625rem;
  }

  .card-01 .list-card01__img {
    margin-right: 0.9375rem;
  }

  .card-01 .list-card01__title h3 {
    font-size: 1rem;
  }

  .card-02 {
    padding-top: 4.0625rem;
  }

  .card-02 {
    padding-bottom: 4.0625rem;
  }

  .card-03 {
    padding-top: 4.0625rem;
  }

  .card-03 {
    padding-bottom: 4.0625rem;
  }

  .card-03__list_item::before {
    margin-right: 1.25rem;
  }

  .card-03__list_item p {
    font-size: 0.875rem;
  }

  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header .menu__list {
    gap: 1.5rem;
  }

  .footer {
    padding-top: 2.5rem;
  }

  .footer {
    padding-bottom: 2.5rem;
  }

  .footer__top {
    padding-bottom: 3.125rem;
  }

  .footer__bottom {
    padding-top: 1.25rem;
  }

  .footer .footer-privacy ul {
    gap: 1.25rem;
  }

  .first {
    padding-top: 6.25rem;
  }

  .first {
    padding-bottom: 6.25rem;
  }

  .first__title {
    margin-bottom: 2.1875rem;
  }

  .partners {
    padding-top: 2.5rem;
  }

  .partners {
    padding-bottom: 2.5rem;
  }

  .customers {
    padding-top: 4.0625rem;
  }

  .customers {
    padding-bottom: 4.0625rem;
  }

  .customers .cards-customers__info {
    padding-top: 0.9375rem;
  }

  .customers .cards-customers__info {
    padding-bottom: 0.9375rem;
  }

  .customers .cards-customers__info {
    padding-left: 0.9375rem;
  }

  .customers .cards-customers__info {
    padding-right: 0.9375rem;
  }

  .app {
    padding-top: 4.0625rem;
  }

  .app {
    padding-bottom: 6.25rem;
  }

  .app__body {
    padding-top: 1.875rem;
  }

  .app__body {
    padding-bottom: 1.875rem;
  }

  .app .picture-card__circle {
    width: 23.4375rem;
  }

  .app .picture-card__circle {
    height: 23.4375rem;
  }
}

@media (max-width: 61.99875em) {
  .card-01__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-01__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    padding-right: 0px;
    margin-bottom: 40px;
  }

  .card-01__title,
  .card-01__text {
    max-width: 100%;
    text-align: center;
  }

  .card-01 .list-card01_item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card-01 .picture-card01 {
    width: 80%;
    margin: 0 auto;
  }

  .card-02__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .card-02__info {
    margin-left: 0;
  }

  .card-02__title,
  .card-02__text {
    text-align: center;
    max-width: 100%;
  }

  .card-02 .picture-card02 {
    width: 80%;
    margin: 0 auto;
  }

  .card-03__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-03__info {
    margin-right: 0px;
  }

  .card-03__title,
  .card-03__text {
    text-align: center;
  }

  .card-03__nav {
    margin-bottom: 40px;
    text-align: center;
  }

  .card-03__nav ol {
    max-width: 350px;
    margin: 0 auto;
  }

  .card-03__img {
    width: 74%;
    margin: 0 auto;
    padding-bottom: 68.967651%;
  }

  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__top > div:not(:last-child) {
    margin-bottom: 40px;
  }

  .footer__info,
  .footer__form,
  .footer__contact {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }

  .footer__logo {
    margin: 0 auto 20px;
  }

  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }

  .footer .footer-privacy ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .customers .cards-customers {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customers .cards-customers > li {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .customers .cards-customers__card {
    margin: 0 auto;
    max-width: 100%;
  }

  .customers .cards-customers__img {
    padding-bottom: 45%;
  }
}

@media (max-width: 47.99875em) {
  .picture-card__circle {
    width: 385px;
    height: 385px;
  }

  .header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1000%;
    width: 100%;
    height: 100%;
    background-color: #232a2d;
    z-index: 10;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .menu-open .header::before {
    left: 0;
  }

  .header .menu {
    -ms-grid-columns: 1fr auto;
    grid-template-columns: 1fr auto;
  }

  .header .menu__logo {
    margin-right: 20px;
    position: relative;
  }

  .header .menu__body {
    position: fixed;
    top: 0;
    left: -1000%;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    z-index: 5;
    background-color: #263238;
    overflow-y: scroll;
    -webkit-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
  }

  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 40px;
  }

  .header .menu__item {
    font-size: 40px;
  }

  .header .menu__actions {
    position: relative;
  }

  .menu .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 15;
  }

  .menu .icon-menu span,
  .menu .icon-menu::before,
  .menu .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .menu .icon-menu::before {
    top: 0;
  }

  .menu .icon-menu::after {
    bottom: 0;
  }

  .menu .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .menu .icon-menu span {
    width: 0;
  }

  .menu-open .menu .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .menu .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .first__circle {
    opacity: 0.3;
  }

  .first__bg_icon {
    opacity: 0.2;
  }

  .customers .cards-customers__img {
    width: 60%;
    max-width: 220px;
  }
}

@media (max-width: 47.99875em) and (max-width: 20em) {
  .header {
    padding-top: 0.625rem;
  }

  .header {
    padding-bottom: 0.625rem;
  }

  .header .menu__body {
    padding-top: 6.25rem;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .menu .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__input {
    margin: 0px;
    padding: 20px 10px;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 20px;
  }

  .form__input::-moz-placeholder {
    font-size: 20px;
  }

  .form__input:-ms-input-placeholder {
    font-size: 20px;
  }

  .form__input::-ms-input-placeholder {
    font-size: 20px;
  }

  .form__input,
  .form__input::placeholder {
    font-size: 20px;
  }

  .form__btn {
    font-size: 20px;
  }

  .card-01 .circle_1,
  .card-01 .circle_2 {
    right: -60%;
  }

  .card-02 .picture-card__circle {
    width: 285px;
    height: 285px;
  }

  .customers .cards-customers__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .customers .cards-customers__img {
    padding-bottom: 70%;
    max-width: 449px;
    width: 100%;
  }
}

@media (min-width: 20em) and (max-width: 103.125em) {
@supports (font-size: clamp( 2.1875rem , 1.6611842105rem  +  2.6315789474vw , 4.375rem )) {
    .title {
      font-size: clamp( 2.1875rem , 1.6611842105rem  +  2.6315789474vw , 4.375rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.6611842105rem  +  2.6315789474vw , 4.375rem )) {
    .title {
      font-size: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.875rem , 1.3637218045rem  +  2.5563909774vw , 4rem )) {
    .title__64p {
      font-size: clamp( 1.875rem , 1.3637218045rem  +  2.5563909774vw , 4rem );
    }
}

@supports not (font-size: clamp( 1.875rem , 1.3637218045rem  +  2.5563909774vw , 4rem )) {
    .title__64p {
      font-size: calc(1.875rem + 2.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1.75rem , 1.3289473684rem  +  2.1052631579vw , 3.5rem )) {
    .title__56p {
      font-size: clamp( 1.75rem , 1.3289473684rem  +  2.1052631579vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.3289473684rem  +  2.1052631579vw , 3.5rem )) {
    .title__56p {
      font-size: calc(1.75rem + 1.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8148496241rem  +  0.3007518797vw , 1.125rem )) {
    .text p {
      font-size: clamp( 0.875rem , 0.8148496241rem  +  0.3007518797vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8148496241rem  +  0.3007518797vw , 1.125rem )) {
    .text p {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 3.085056391rem  +  4.8872180451vw , 8.125rem )) {
    .card-01 {
      padding-top: clamp( 4.0625rem , 3.085056391rem  +  4.8872180451vw , 8.125rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 3.085056391rem  +  4.8872180451vw , 8.125rem )) {
    .card-01 {
      padding-top: calc(4.0625rem + 4.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 4.0625rem , 3.4760338346rem  +  2.9323308271vw , 6.5rem )) {
    .card-01 {
      padding-bottom: clamp( 4.0625rem , 3.4760338346rem  +  2.9323308271vw , 6.5rem );
    }
}

@supports not (padding-bottom: clamp( 4.0625rem , 3.4760338346rem  +  2.9323308271vw , 6.5rem )) {
    .card-01 {
      padding-bottom: calc(4.0625rem + 2.4375 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-right: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .card-01 .list-card01__img {
      margin-right: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem );
    }
}

@supports not (margin-right: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .card-01 .list-card01__img {
      margin-right: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 1rem , 0.9398496241rem  +  0.3007518797vw , 1.25rem )) {
    .card-01 .list-card01__title h3 {
      font-size: clamp( 1rem , 0.9398496241rem  +  0.3007518797vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9398496241rem  +  0.3007518797vw , 1.25rem )) {
    .card-01 .list-card01__title h3 {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-02 {
      padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-02 {
      padding-top: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-02 {
      padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-02 {
      padding-bottom: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-03 {
      padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-03 {
      padding-top: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-03 {
      padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .card-03 {
      padding-bottom: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-right: clamp( 1.25rem , 0.7687969925rem  +  2.4060150376vw , 3.25rem )) {
    .card-03__list_item::before {
      margin-right: clamp( 1.25rem , 0.7687969925rem  +  2.4060150376vw , 3.25rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , 0.7687969925rem  +  2.4060150376vw , 3.25rem )) {
    .card-03__list_item::before {
      margin-right: calc(1.25rem + 2 * (100vw - 20rem) / 83.125);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7847744361rem  +  0.4511278195vw , 1.25rem )) {
    .card-03__list_item p {
      font-size: clamp( 0.875rem , 0.7847744361rem  +  0.4511278195vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7847744361rem  +  0.4511278195vw , 1.25rem )) {
    .card-03__list_item p {
      font-size: calc(0.875rem + 0.375 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7537593985rem  +  2.4812030075vw , 3.3125rem )) {
    .header {
      padding-top: clamp( 1.25rem , 0.7537593985rem  +  2.4812030075vw , 3.3125rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7537593985rem  +  2.4812030075vw , 3.3125rem )) {
    .header {
      padding-top: calc(1.25rem + 2.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.7537593985rem  +  2.4812030075vw , 3.3125rem )) {
    .header {
      padding-bottom: clamp( 1.25rem , 0.7537593985rem  +  2.4812030075vw , 3.3125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.7537593985rem  +  2.4812030075vw , 3.3125rem )) {
    .header {
      padding-bottom: calc(1.25rem + 2.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (gap: clamp( 1.5rem , 1.1992481203rem  +  1.5037593985vw , 2.75rem )) {
    .header .menu__list {
      gap: clamp( 1.5rem , 1.1992481203rem  +  1.5037593985vw , 2.75rem );
    }
}

@supports not (gap: clamp( 1.5rem , 1.1992481203rem  +  1.5037593985vw , 2.75rem )) {
    .header .menu__list {
      gap: calc(1.5rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.0789473684rem  +  2.1052631579vw , 4.25rem )) {
    .footer {
      padding-top: clamp( 2.5rem , 2.0789473684rem  +  2.1052631579vw , 4.25rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.0789473684rem  +  2.1052631579vw , 4.25rem )) {
    .footer {
      padding-top: calc(2.5rem + 1.75 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.2593984962rem  +  1.2030075188vw , 3.5rem )) {
    .footer {
      padding-bottom: clamp( 2.5rem , 2.2593984962rem  +  1.2030075188vw , 3.5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.2593984962rem  +  1.2030075188vw , 3.5rem )) {
    .footer {
      padding-bottom: calc(2.5rem + 1 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .footer__top {
      padding-bottom: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.3731203008rem  +  3.7593984962vw , 6.25rem )) {
    .footer__top {
      padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.7086466165rem  +  2.7067669173vw , 3.5rem )) {
    .footer__bottom {
      padding-top: clamp( 1.25rem , 0.7086466165rem  +  2.7067669173vw , 3.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.7086466165rem  +  2.7067669173vw , 3.5rem )) {
    .footer__bottom {
      padding-top: calc(1.25rem + 2.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .footer .footer-privacy ul {
      gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem );
    }
}

@supports not (gap: clamp( 1.25rem , 0.9492481203rem  +  1.5037593985vw , 2.5rem )) {
    .footer .footer-privacy ul {
      gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 6.25rem , 4.0695488722rem  +  10.9022556391vw , 15.3125rem )) {
    .first {
      padding-top: clamp( 6.25rem , 4.0695488722rem  +  10.9022556391vw , 15.3125rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 4.0695488722rem  +  10.9022556391vw , 15.3125rem )) {
    .first {
      padding-top: calc(6.25rem + 9.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 5.5733082707rem  +  3.3834586466vw , 9.0625rem )) {
    .first {
      padding-bottom: clamp( 6.25rem , 5.5733082707rem  +  3.3834586466vw , 9.0625rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 5.5733082707rem  +  3.3834586466vw , 9.0625rem )) {
    .first {
      padding-bottom: calc(6.25rem + 2.8125 * (100vw - 20rem) / 83.125);
    }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.6762218045rem  +  2.5563909774vw , 4.3125rem )) {
    .first__title {
      margin-bottom: clamp( 2.1875rem , 1.6762218045rem  +  2.5563909774vw , 4.3125rem );
    }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.6762218045rem  +  2.5563909774vw , 4.3125rem )) {
    .first__title {
      margin-bottom: calc(2.1875rem + 2.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 2.5rem , 2.1240601504rem  +  1.8796992481vw , 4.0625rem )) {
    .partners {
      padding-top: clamp( 2.5rem , 2.1240601504rem  +  1.8796992481vw , 4.0625rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 2.1240601504rem  +  1.8796992481vw , 4.0625rem )) {
    .partners {
      padding-top: calc(2.5rem + 1.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 2.1240601504rem  +  1.8796992481vw , 4.0625rem )) {
    .partners {
      padding-bottom: clamp( 2.5rem , 2.1240601504rem  +  1.8796992481vw , 4.0625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 2.1240601504rem  +  1.8796992481vw , 4.0625rem )) {
    .partners {
      padding-bottom: calc(2.5rem + 1.5625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .customers {
      padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .customers {
      padding-top: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .customers {
      padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-bottom: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .customers {
      padding-bottom: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-top: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-top: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-bottom: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-bottom: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-left: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-left: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-right: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.6818609023rem  +  1.2781954887vw , 2rem )) {
    .customers .cards-customers__info {
      padding-right: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .app {
      padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 4.0625rem , 3.5361842105rem  +  2.6315789474vw , 6.25rem )) {
    .app {
      padding-top: calc(4.0625rem + 2.1875 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem )) {
    .app {
      padding-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem );
    }
}

@supports not (padding-bottom: clamp( 6.25rem , 4.7462406015rem  +  7.5187969925vw , 12.5rem )) {
    .app {
      padding-bottom: calc(6.25rem + 6.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .app__body {
      padding-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , 1.2434210526rem  +  3.1578947368vw , 4.5rem )) {
    .app__body {
      padding-top: calc(1.875rem + 2.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 1.875rem , 1.3336466165rem  +  2.7067669173vw , 4.125rem )) {
    .app__body {
      padding-bottom: clamp( 1.875rem , 1.3336466165rem  +  2.7067669173vw , 4.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.3336466165rem  +  2.7067669173vw , 4.125rem )) {
    .app__body {
      padding-bottom: calc(1.875rem + 2.25 * (100vw - 20rem) / 83.125);
    }
}

@supports (width: clamp( 23.4375rem , 20.2796052632rem  +  15.7894736842vw , 36.5625rem )) {
    .app .picture-card__circle {
      width: clamp( 23.4375rem , 20.2796052632rem  +  15.7894736842vw , 36.5625rem );
    }
}

@supports not (width: clamp( 23.4375rem , 20.2796052632rem  +  15.7894736842vw , 36.5625rem )) {
    .app .picture-card__circle {
      width: calc(23.4375rem + 13.125 * (100vw - 20rem) / 83.125);
    }
}

@supports (height: clamp( 23.4375rem , 20.2796052632rem  +  15.7894736842vw , 36.5625rem )) {
    .app .picture-card__circle {
      height: clamp( 23.4375rem , 20.2796052632rem  +  15.7894736842vw , 36.5625rem );
    }
}

@supports not (height: clamp( 23.4375rem , 20.2796052632rem  +  15.7894736842vw , 36.5625rem )) {
    .app .picture-card__circle {
      height: calc(23.4375rem + 13.125 * (100vw - 20rem) / 83.125);
    }
}
}

@media (min-width: 61.9375em) and (max-width: 120em) {
@supports (margin-left: clamp( 3.125rem , -1.942007535rem  +  8.1808396125vw , 7.875rem )) {
    .card-02__info {
      margin-left: clamp( 3.125rem , -1.942007535rem  +  8.1808396125vw , 7.875rem );
    }
}

@supports not (margin-left: clamp( 3.125rem , -1.942007535rem  +  8.1808396125vw , 7.875rem )) {
    .card-02__info {
      margin-left: calc(3.125rem + 4.75 * (100vw - 61.9375rem) / 58.0625);
    }
}

@supports (margin-right: clamp( 0.0000000625rem , -11.8007937352rem  +  19.0527447793vw , 11.0625rem )) {
    .card-03__info {
      margin-right: clamp( 0.0000000625rem , -11.8007937352rem  +  19.0527447793vw , 11.0625rem );
    }
}

@supports not (margin-right: clamp( 0.0000000625rem , -11.8007937352rem  +  19.0527447793vw , 11.0625rem )) {
    .card-03__info {
      margin-right: calc(0.0000000625rem + 11.0624999375 * (100vw - 61.9375rem) / 58.0625);
    }
}
}

@media (max-width: 47.99875em) and (min-width: 103.125em) {
  .header {
    padding-top: 1.25rem;
  }

  .header {
    padding-bottom: 1.25rem;
  }

  .header .menu__body {
    padding-top: 15.625rem;
  }
}

@media (max-width: 47.99875em) and (min-width: 20em) and (max-width: 103.125em) {
@supports (padding-top: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem )) {
    .header {
      padding-top: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem );
    }
}

@supports not (padding-top: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem )) {
    .header {
      padding-top: calc(0.625rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-bottom: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem )) {
    .header {
      padding-bottom: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.625rem , 0.4746240602rem  +  0.7518796992vw , 1.25rem )) {
    .header {
      padding-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 83.125);
    }
}

@supports (padding-top: clamp( 6.25rem , 3.9943609023rem  +  11.2781954887vw , 15.625rem )) {
    .header .menu__body {
      padding-top: clamp( 6.25rem , 3.9943609023rem  +  11.2781954887vw , 15.625rem );
    }
}

@supports not (padding-top: clamp( 6.25rem , 3.9943609023rem  +  11.2781954887vw , 15.625rem )) {
    .header .menu__body {
      padding-top: calc(6.25rem + 9.375 * (100vw - 20rem) / 83.125);
    }
}
}